{% extends 'base.html' %} {% block head %}<title>Food database</title> {%
endblock %} {% block body %}
<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      var score = 0;
      var number = 1;
      var selectedFoods=[];
       $(document).ready(function(){

        //checkbox check/uncheck event
       $('.checkbox').on('change',function(){
       var checkboxId = $(this).attr('id');
       var checkboxScore = $(this).attr('score');
       var checkboxItem = $(this).attr('checkbox-item');
       if($('#'+checkboxId).prop('checked')){
            $('#save-new-plan').prop('disabled',false);
            $('p[lunchbox-id="'+checkboxId+'"]').show();
            $('p[lunchbox-id="'+checkboxId+'"]').html(checkboxItem);
            number++;
             score = parseFloat(checkboxScore)+score;
             selectedFoods.push(checkboxItem);
            $('#total-score').html(score);
       }
       else{
           $('p[lunchbox-id="'+checkboxId+'"]').hide();
           score = score - checkboxScore;
           $('#total-score').html(score);
           number--;
           selectedFoods = selectedFoods.filter(function(value,index,arr){
               return value != checkboxItem;
           });
           if(score == 0){
                $('#save-new-plan').prop('disabled',true);
           }
       }
       });
       //end of checkbox check/uncheck event
       
       $('#save-new-plan').on('click', function(){
           var planName = $('#plan-name').val();
           var data = {planName:planName, selectedFoods:selectedFoods,score:score};
            $.ajax({
                type:'POST',
                url:'/plans/add',
                data:JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                complete: function(){
                    location.reload();
                },
                error: function(error){
                    console.log(error);
                }
            });
       });





       });




    </script>
</head>
<div class="content">
    <div>
        <div class="add-food align-left">
            <div class="card">
                <div class="card-header">
                    <b>Add new food</b>
                </div>
                <div class="card-body">
                    <form action="/" method="POST">
                        <label>Food: </label>
                        <input type="text" name="food" id="food"/>
                        <label>Category: </label> <input type="text" name="category" id="category"/>
                        <label>Score: </label><input type="text" name="score" id="score"/>
                        <input type="submit" value="add food"/></form>

                </div>
            </div>
        </div>

        <div class="card align-right">
            <div class="card-header">
                <b>Add a new lunch box plan (Total Score - <a id="total-score" total-score>0</a>):</b>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    {% for food in foods %}<p lunchbox-id={{food.id}}></p>{% endfor %}

                </blockquote>
            </div>
            <div class="card-body">
                <div class="add-plan">
                    <form>
                        <input type="text" size="50" name="plan-name" id="plan-name"
                               placeholder="Please enter name for the new plan"/></form>
                    <input type="submit" value="save new plan" id="save-new-plan" disabled="true"/>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div class="align-left">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Food</th>
                    <th scope="col">Category</th>
                    <th scope="col">Score</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Select</th>
                </tr>
                {% for food in foods %}
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.category }}</td>
                    <td>{{ food.score }}</td>
                    <td>
                        <form action="/foods/{{ food.id }}" method="POST">
                            <button name="delete" value="{{ food.id }}">delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/edit/{{ food.id }}" method="GET">
                            <button name="edit" value="{{ food.id }}">Edit</button>
                        </form>
                    </td>
                    <td>
                        <input type="checkbox" class="checkbox" id={{ food.id }} score={{ food.score }}
                               checkbox-item="{{food.name}}"/>
                    </td>
                </tr>
                {% endfor %}
                </thead>
                <tbody>
                <ul>

                </ul>
                </tbody>
            </table>
        </div>
        <div class="align-right">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Plan Name</th>
                    <th scope="col">Foods</th>
                    <th scope="col">Score</th>
                    <th scope="col">Delete</th>
<!--                    <th scope="col">Like</th>-->

                </tr>
                {% for plan in plans %}
                <tr>
                    <td>{{ plan.name }}</td>
                    <td>{{ plan.foods }}</td>
                    <td>{{ plan.score }}</td>
                    <td>
                        <form action="/plans/{{ plan.name }}" method="POST">
                            <button name="delete-plan" plan-name="{{ plan.name }}" class="delete-plan">delete</button>
                        </form>
                    </td>
<!--                    <td><i class="fa fa-heart-o" aria-hidden="true"></i></td>-->

                </tr>
                {% endfor %}
                </thead>
                <tbody>
                <ul>

                </ul>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
