{% extends 'base.html' %} {% block head %}<title>Food database</title> {%
endblock %} {% block body %}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      var score = 0;
      var number = 1;
       $(document).ready(function(){
       $('.checkbox').on('change',function(){
       var checkboxId = $(this).attr('id');
       var checkboxScore = $(this).attr('score');
       var checkboxItem = $(this).attr('checkbox-item');
       if($('#'+checkboxId).prop('checked')){
            $('#save-new-plan').prop('disabled',false);
            $('p[lunchbox-id="'+checkboxId+'"]').show();
            $('p[lunchbox-id="'+checkboxId+'"]').html(number + ": "+checkboxItem);
            number++;
             score = parseFloat(checkboxScore)+score;
            $('#total-score').html(score);
       }
       else{
           $('p[lunchbox-id="'+checkboxId+'"]').hide();
           score = score - checkboxScore;
           $('#total-score').html(score);
           number--;
           if(score == 0){
                $('#save-new-plan').prop('disabled',true);

           }
       }

       });

       });



    </script>
</head>
<div class="content">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Food</th>
            <th scope="col">Category</th>
            <th scope="col">Score</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            <th scope="col">Select</th>
        </tr>
        {% for food in foods %}
        <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.category }}</td>
            <td>{{ food.score }}</td>
            <td>
                <form action="/delete/{{ food.id }}" method="POST">
                    <button name="delete" value="{{ food.id }}">delete</button>
                </form>
            </td>
            <td>
                <form action="/edit/{{ food.id }}" method="GET">
                    <button name="edit" value="{{ food.id }}">Edit</button>
                </form>
            </td>
            <td>
                <input type="checkbox" class="checkbox" id={{ food.id }} score={{ food.score }}
                       checkbox-item="{{food}}"/>
            </td>
        </tr>
        {% endfor %}
        </thead>
        <tbody>
        <ul>

        </ul>
        </tbody>
    </table>
    <div class="card">
        <div class="card-header">
            <b>Add a new lunch box plan (Total Score - <a id="total-score" total-score>0</a>):</b>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                {% for food in foods %}<p lunchbox-id={{food.id}}></p>{% endfor %}

            </blockquote>
        </div>
        <div class="card-body">
            <div class="add-plan" >
                <form action="/add-plan" method="GET">
                <input type="text" size="50" name="plan-name" id="plan-name" placeholder="Please enter name for the new plan"/>
                <input type="submit" value="Save new plan" id="save-new-plan" disabled="true"/></form></div>
        </div>
    </div>
    <div class="add-food">
        <div class="card">
            <div class="card-header">
                <b>Add new food</b>
            </div>
            <div class="card-body">
                <form action="/" method="POST">
                    <label>Food: </label> <input type="text" name="food" id="food"/>
                    <label>Category: </label> <input type="text" name="category" id="category"/>
                    <label>Score: </label><input type="text" name="score" id="score"/>
                    <input type="submit" value="add food"/></form>

            </div>
        </div>


    </div>

</div>

{% endblock %}
